---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import access from '~/assets/work/access.svg';
import lcc from '~/assets/work/lcc.svg';
import serco from '~/assets/work/serco.svg';
import dmu from '~/assets/work/dmu.svg';

const workEntries = [
  {
    title: 'Junior Software Engineer',
    company: null,
    companyUrl: null,
    image: null,
    dates: 'March 2025 - Present',
    skills: 'C#, Terraform',
    description: null,
  },
  {
    title: 'Graduate Software Engineer',
    company: 'Access',
    companyUrl: 'https://www.theaccessgroup.com/en-gb/',
    image: access,
    dates: 'August 2024 - March 2025',
    skills: 'React, Typescript, GraphQL, C#, SQL Server',
    description: null,
    descriptionHidden: true,
  },
  {
    title: 'Placement Technical Specialist',
    company: 'Leicestershire County Council',
    companyUrl: 'https://www.leicestershire.gov.uk/',
    image: lcc,
    dates: 'June 2022 - August 2023',
    skills: 'C#, .NET, PostgresSQL',
    description:
      'Built responsive webservices reducing existing API times by over 60%. Automated scheduled tasks by managing geographical data sourced from the Ordance Survey API. Created and maintained various web forms used by all aspects of the business.',
  },
  {
    title: 'Customer Service Advisor',
    company: 'Serco',
    companyUrl: 'https://www.serco.com/',
    image: serco,
    dates: 'May 2020 - September 2020',
    skills: null,
    description:
      'Conducted outbound calls to a person in contact with another individual that has received a positive coronavirus test to advise them to self-isolate, as part of the NHS COVID-19 contact tracing programme.',
  },
];

const educationEntries = [
  {
    title: 'BSc Computer Science with Placement Year',
    institution: 'De Montfort University',
    institutionUrl: 'https://www.dmu.ac.uk/',
    image: dmu,
    dates: 'September 2020 - June 2024',
    award: '2023 Placement Student Of The Year',
    description:
      'HTML - CSS - JavaScript - PHP - Scala - Java - SQL - Git<br/>Relevant Modules Include: Object Oriented, Agile Team Development, Data Structures and Algorithms, Web Applications...',
  },
];
---

<section class="px-4 py-8 sm:px-6 mx-auto xl:px-8 xl:py-10 max-w-6xl" id="history">
  <div class="grid gap-6 row-gap-10 xl:grid-cols-1">
    <div class="xl:pb-6">
      <h2 class="mb-8 text-3xl xl:text-4xl">Work History</h2>
      {
        workEntries.map((entry, i) => (
          <div class="flex">
            <div class="flex flex-col items-center mr-4">
              <div>
                <div
                  class={
                    i === 0
                      ? 'flex items-center justify-center w-10 h-10 rounded-full bg-gradient-to-r from-blue-500 to-blue-600 border-2'
                      : 'flex items-center justify-center w-10 h-10 rounded-full border-blue-500 border-2'
                  }
                >
                  <Icon
                    name={i === 0 ? 'tabler:at' : 'tabler:arrow-up'}
                    class={
                      i === 0
                        ? 'w-6 h-6 text-slate-200 icon-bold'
                        : 'w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold'
                    }
                  />
                </div>
              </div>
              <div class="w-px h-full bg-gray-300 dark:bg-slate-500" />
            </div>
            <div class="pt-1 pb-8 grid grid-flow-col w-full xl:grid-cols-4 items-start xl:items-center">
              <div class="col-span-4 xl:col-span-3 min-w-full">
                <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">{entry.title}</p>
                {entry.image ? (
                  <Image
                    class="visible xl:hidden w-60"
                    src={entry.image}
                    sizes="100vw"
                    alt={entry.company ?? ''}
                    loading="lazy"
                  />
                ) : null}
                {entry.company ? (
                  <p class="mb-2 text-l font-medium text-blue-700 dark:text-blue-300 underline">
                    <a href={entry.companyUrl} target="_blank">
                      {entry.company}
                    </a>
                  </p>
                ) : null}
                <span class="inline text-l font-medium text-gray-900 dark:text-slate-300 my-1">
                  <Icon name="tabler:calendar-time" class="w-6 h-6 icon-bold inline" />
                  <p class="inline">{entry.dates}</p>
                </span>
                <br />
                {entry.skills ? (
                  <span class="inline text-l font-medium text-gray-900 dark:text-slate-300 my-1">
                    <Icon name="tabler:code" class="w-6 h-6 icon-bold inline" />
                    <p class="inline">{entry.skills}</p>
                  </span>
                ) : null}
                {entry.description ? (
                  <p class={entry.descriptionHidden ? 'py-2 max-w-2xl invisible' : 'py-2 max-w-2xl'}>
                    {entry.description}
                  </p>
                ) : null}
              </div>
              {entry.image ? (
                <div class="col-span-4 xl:col-span-1 ml-10">
                  <Image
                    class="hidden xl:flex"
                    src={entry.image}
                    sizes="100vw"
                    alt={entry.company ?? ''}
                    loading="lazy"
                  />
                </div>
              ) : null}
            </div>
          </div>
        ))
      }
      <div class="xl:pb-6 pt-6">
        <h2 class="mb-8 text-3xl xl:text-4xl font-bold font-heading">Education</h2>
        {
          educationEntries.map((ed) => (
            <div class="flex">
              <div class="flex flex-col items-center mr-4">
                <div>
                  <div class="flex items-center justify-center w-10 h-10 rounded-full border-blue-500 border-2">
                    <Icon name="tabler:arrow-up" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
                  </div>
                </div>
                <div class="w-px h-full bg-gray-300 dark:bg-slate-500" />
              </div>
              <div class="pt-1 pb-8 grid grid-flow-col w-full xl:grid-cols-4 items-start xl:items-center">
                <div class="col-span-4 xl:col-span-3 min-w-full">
                  <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">{ed.title}</p>
                  {ed.image ? (
                    <Image
                      class="visible xl:hidden w-60"
                      src={ed.image}
                      sizes="100vw"
                      alt={ed.institution ?? ''}
                      loading="lazy"
                    />
                  ) : null}
                  <p class="mb-2 text-l font-medium text-blue-700 dark:text-blue-300 underline">
                    <a href={ed.institutionUrl} target="_blank">
                      {ed.institution}
                    </a>
                  </p>
                  <span class="inline text-l font-medium text-gray-900 dark:text-slate-300">
                    <Icon name="tabler:calendar-time" class="w-6 h-6 icon-bold inline" />
                    <p class="inline">{ed.dates}</p>
                  </span>
                  <br />
                  {ed.award ? (
                    <span class="inline text-l font-medium text-gray-900 dark:text-slate-300">
                      <Icon name="tabler:award" class="w-6 h-6 icon-bold inline" />
                      <p class="inline">{ed.award}</p>
                    </span>
                  ) : null}
                  {ed.description ? <p class="py-2 max-w-2xl">{ed.description}</p> : null}
                </div>
                {ed.image ? (
                  <div class="col-span-4 xl:col-span-1 ml-10">
                    <Image
                      class="hidden xl:flex"
                      src={ed.image}
                      sizes="100vw"
                      alt={ed.institution ?? ''}
                      loading="lazy"
                    />
                  </div>
                ) : null}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
